#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 50px;
    margin-right: 30px;
}

.dolar{
    background-image: url("../../../imagens/eua.png");
    background-size: 100%;
}

.australia{
    background-image: url("../../../imagens/australia.png");
    background-size: 100%;
}

.canada{
    background-image: url("../../../imagens/canada.png");
    background-size: 100%;
}

.euro{
    background-image: url("../../../imagens/mundo.png");
    background-size: 100%;
}





.libra{
    background-image: url("../../../imagens/bandeira.png");
    background-size: 100%;
}